<div #content>
    <div class="modal-header">
      <h2 class="modal-title" id="modal-title">Profile update</h2>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="activeModal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal">
        <div class="form-group mt-4">
          <label for="dateOfBirth">Name</label>
          <div class="input-group">
            <input
             type="text"
              id="dateOfBirth"
              class="form-control"
              name="dp"
            />
          </div>
        </div>
        <div class="form-group acc-allSiteContainer" id="allSiteId">
          <div class="row mt-4">
            <label id="acc-panelSiteLabel" class="col-sm-3 control-label"
              >SKILLs</label
            >
            <div class="col-sm-9">
              <ng-select
                [items]="skills | async"
                bindLabel="name"
                placeholder="Select item"
                [closeOnSelect]="false"
                [multiple]="true"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="close('Save click')"
      >
        Save
      </button>
    </div>
  </div>