
<div class="row m-4">
    <!-- <div  class="col-8 d-flex">
        <button class="btn btn-dark  m-2" (click)="OpenOptionOne()">ARQUITETURA</button>
        <button class="btn btn-success m-2" (click)="OpenOptionTwo()">DEVOPS</button>
        <button class="btn btn-primary m-2" (click)="OpenOptionThree()">DESENVOLVIMENTO</button>
    </div> -->
    <!-- <div class="col-4 d-flex justify-content-center">
        <button class="btn btn-info btn-nav-control mx-2" (click)="OpenOptionOne()">TIME - A</button>
        <button class="btn btn-info btn-nav-control mx-2" (click)="OpenOptionOne()">TIME - B</button>
        <button class="btn btn-info btn-nav-control mx-2" (click)="OpenOptionOne()">TIME - C</button>
        <button class="btn btn-info btn-nav-control mx-2" (click)="OpenOptionOne()">TIME - D</button>
    </div> -->

    <div class="col-4 d-flex justify-content-center m-4">
      <button class="btn btn-info btn-nav-control mx-2" (click)="AddMember()">+ Member</button>
      <button class="btn btn-info btn-nav-control mx-2" (click)="RemoveMember()">- Member</button>
  </div>

    <!-- <ng-template #contentTpl>
        <app-table-row />
    </ng-template>   -->

   <content class="col-6 justify-content-center"></content>  

    <!-- <ng-container
            [ngComponentOutlet]="component"
            [ngComponentOutletInputs]="componentInputs"
            [ngComponentOutletContent]="content"></ng-container> -->


            <ngx-datatable
            #myTable
            class="material expandable"
            [columnMode]="ColumnMode.force"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [scrollbarV]="false"
            [rows]=" rows$  | async"
            (page)="onPage($event)"
          >
            <!-- Row Detail Template -->
            <ngx-datatable-row-detail [rowHeight]="100" #myDetailRow (toggle)="onDetailToggle($event)">
              <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div style="padding-left:35px;">
                  <div><strong>skills</strong></div>
                  <div>{{ row.skills }}, {{ row.skills}}</div>
                </div>
              </ng-template>
            </ngx-datatable-row-detail>

            
             <!-- Column Templates -->
        <ngx-datatable-column
        [width]="50"
        [resizeable]="false"
        [sortable]="false"
        [draggable]="false"
        [canAutoResize]="false"
      >
           <!-- Row Detail Template -->
        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
          <a
            href="javascript:void(0)"
            [class.datatable-icon-right]="!expanded"
            [class.datatable-icon-down]="expanded"
            title="Expand/Collapse Row"
            (click)="toggleExpandRow(row)"
          >
            </a>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Index" [width]="80">
          <ng-template let-rowIndex="rowIndex" let-row="row" ngx-datatable-cell-template>
            <strong>{{ rowIndex }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Expanded" [width]="80">
          <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
            <strong>{{ expanded === 1 }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" [width]="200">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{ value }}</strong>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Skills" [width]="300">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['skills']"></i>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Age"></ngx-datatable-column>
      
        <ngx-datatable-column name="Actions" prop="actions">
          <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [checked]="row.disable == true"  (change)="ChangeToggleState(row)"> {{row.disable === true}}
            </div>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>

<router-outlet></router-outlet>
</div>