<tr>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            DESENVOLVIMENTO
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <table class="table table-striped ">
                <thead>
                    <th>#</th>
                    <th>Especialidade</th>
                    <th>Nome</th>
                    <th>Especialidade</th>
                </thead>
                <tbody>
                <!-- <tr *ngFor="let item of squad">
                    <td>{{item.nome}}</td>
                    <td>{{item?.especialidade}}</td>
                </tr> -->
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</tr>

